.h-input-date-range {
  display: flex;
  gap: var(--h-gap);
}

.h-input-date-range .h-input-date {
  min-width: 0;
  width: 50%;
}

.h-input-date-range .flatpickr-wrapper { width: calc(50% - var(--h-gap) / 2); }
.h-input-date-range .flatpickr-wrapper .h-input-date { width: 100%; }

.h-input-date-range { flex-wrap: wrap; }
.h-input-date-sliders { display: flex; width: 100%; gap: var(--h-gap); }
.h-input-date-sliders input { width: 50%; }
.flatpickr-calendar.open { z-index: 2147483001; }
.flatpickr-calendar { font-size: var(--h-font-size); }
.flatpickr-calendar .flatpickr-day,
.flatpickr-calendar .flatpickr-current-month,
.flatpickr-calendar .flatpickr-weekday { font-size: var(--h-font-size); }
