.h-input-numeric-range {
  display: flex;
  gap: var(--h-gap);
}

.h-input-numeric-range .h-input-numeric {
  min-width: 0;
  width: 50%;
}

.h-input-numeric-range { flex-wrap: wrap; }
.h-input-numeric-sliders { width: 100%; }
